{% extends "layouts/page.njk" %}

{% block pageTitle %}Sign-in unavailable – {{ serviceName }} – GOV.UK{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Sorry, sign-in is unavailable</h1>
  <p class="govuk-body">We could not reach the sign-in service. Please try again in a few minutes.</p>
{% endblock %}
